<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, <%= @user.first_name %>!</h1>
    <h3>Order Summary</h3>
    <table>
      <thead>
        <tr>
         <th>Product</th>
         <th>Quantity</th>
         <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <% @order.line_items.each do |line_item| %>
        <%= render 'line_item', product: line_item.product, quantity: line_item[:quantity].to_i %>
      <% end %>
      </tbody>
    </table>
    <p>
      We appreciate your business, your order will be shipped soon.
    </p>
    <p>Have a great day!</p>
  </body>
</html>