<section class="orders-show">

  <header class="page-header">
    <h1 class="alert alert-primary">Your cart is empty!</h1>
    <h3>If you got the money, honey, we've got lots of trees!</h3>
  </header>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>